.Dangelotext{ text-align: center;
  font-family:monospace;

}
.Dangeloimg{ border-color:dark dimgrey;
  border-style:double;
  border-width:thick;
  height:350px;
  width:300px;
}


.dangelotbody{ background-color: lightgray;
}





