.erykahimg{ border-color:#8f3e29;
  border-style:double;
  border-width:thick;
  height:300px;
  width:300px;

}

.erykahtext{ text-align:center;
  font-family:serif;
}
.erykahbody{ background-color:#807131;
}





