.jilltext{ text-align:center;
  font-family:fantasy;
}

.jillimg{ border-color:navy;
  border-style:double;
  border-width:thick;
  height:300px;
  width:300px;
}

.jillscottbody{ background-color:#798bba;
}