.laurynhillword{
  border-color: orangered;
  background-color:#D3945B;
  border-style: solid;
  border-width: thick
}
.laurynhillpg{
  border-color: orangered;
  border-style: solid;
  border-width: thick;
  width: 350px;
  height: 350px;


}
.laurynhillpgtedtxt2{ text-align: center

}

.laurynhillpgtedbody2{ background:#d1927b
  
}

